<!--
<button mat-mini-fab color="primary">
  <mat-icon aria-label="Add Portfolio">refresh</mat-icon>
</button>
<table>
  <tr>
    <td>Total collected (CAD):</td>
    <td>11</td>
  </tr>
  <tr>
    <td>Total collected (EUR):</td>
    <td>22</td>
  </tr>
  <tr>
    <td>Total collected (USD):</td>
    <td>33</td>
  </tr>
  <tr>
    <td>Annual Dividends:</td>
    <td></td>
  </tr>
  <tr>
    <td>Monthly Dividends:</td>
    <td></td>
  </tr>
  <tr>
    <td>Filter:</td>
    <td>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Filter">
        </mat-form-field>
      </form>
    </td>
  </tr>
  <tr>
    <td>Ex-Date Dividends:</td>
    <td></td>
  </tr>
</table>
-->
