<button mat-mini-fab color="primary">
  <mat-icon aria-label="Add Portfolio">refresh</mat-icon>
</button>
<table>
  <tr>
    <td>Total collected (CAD):</td>
    <td>{{ dividend.totalCollectedCad }}</td>
  </tr>
  <tr>
    <td>Total collected (EUR):</td>
    <td>{{ dividend.totalCollectedEur }}</td>
  </tr>
  <tr>
    <td>Total collected (USD):</td>
    <td>{{ dividend.totalCollectedUsd }}</td>
  </tr>
  <tr>
    <td>Annual Dividends:</td>
    <td>{{ dividend.annualDividends }}</td>
  </tr>
  <tr>
    <td>Monthly Dividends:</td>
    <td>{{ dividend.monthlyDividends }}</td>
  </tr>
  <tr>
    <td>Filter:</td>
    <td>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Filter">
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>Ex-Date Dividends:</td>
    <td>{{ dividend.exDateDividends }}</td>
  </tr>
</table>
