<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ portfolioDto.portfolioName }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="parent-container" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="100px">
      <table>
        <tr>
          <td>Portfolio Market Value (EUR):</td>
          <td>{{ portfolioDto.portfolioMarketValue }}</td>
        </tr>
        <tr>
          <td>Total Cost (EUR):</td>
          <td>{{ portfolioDto.totalCost }}</td>
        </tr>
        <tr>
          <td>Effektive Cost (EUR):</td>
          <td>{{ portfolioDto.effectiveCost }}</td>
        </tr>
        <tr>
          <td>Forward annual dividends (EUR):</td>
          <td>{{ portfolioDto.forwardAnnualDividends }}</td>
        </tr>
      </table>
      <table>
        <tr>
          <td>Dividends collected this year (EUR):</td>
          <td>{{ portfolioDto.dividendsCollectedThisYear }}</td>
        </tr>
        <tr>
            <td>Dividends collected previous year (EUR):</td>
            <td>{{ portfolioDto.dividendsCollectedPreviousYear }}</td>
        </tr>
        <tr>
          <td>Total income (EUR):</td>
          <td>{{ portfolioDto.totalIncome }}</td>
        </tr>
        <tr>
          <td>Total income (%):</td>
          <td>{{ portfolioDto.totalIncomeInPercent }}</td>
        </tr>
      </table>
    </div>
  </mat-card-content>
  <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onShowDetails()">View Details</button>
      <button mat-raised-button color="primary" (click)="onShowAnalysis()">View Analysis</button>
  </mat-card-actions>
</mat-card>
<app-portfolio-details *ngIf="showDetails" [portfolioDetails]="portfolioDto?.portfolioDetails"></app-portfolio-details>
<app-portfolio-analysis *ngIf="showAnalysis" [portfolioAnalysis]="portfolioDto?.portfolioAnalysis"></app-portfolio-analysis>
