
<div class="mat-card-padding">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Dividend Information
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <span>Select Stock:</span><br>
      <mat-form-field>
        <mat-select placeholder="Stock-List" (selectionChange)="loadDataForStockChoice($event.value)">
          <mat-option *ngFor="let stockDto of stockDtoArray" [value]="stockDto.symbol">
            {{stockDto.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <span>Dividend history of</span><br>
      <span>Dividend Growth Rate ...</span><br>
      <span>5 years Dividend Growth ...</span><br>
    </mat-card-content>
  </mat-card>
  <br>
  <app-dividend-years *ngIf="showDividendYears"></app-dividend-years>
</div>
