
<div class="mat-card-padding">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Dividend Information
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <span>Select Stock:</span><br>
      <mat-form-field>
        <mat-select placeholder="Stock-List" (selectionChange)="onSelectionChange($event.value)">
          <mat-option *ngFor="let stockDto of stockDtoArray" [value]="stockDto.symbol">
            {{stockDto.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <table>
        <tr>
          <td>Dividend history of:</td>
          <td><span *ngIf="chosenSymbol">{{ chosenSymbol }}</span><br></td>
        </tr>
        <tr>
          <td>Dividend Growth Rate:</td>
          <td><span *ngIf="dividendStatisticsDto">{{ dividendStatisticsDto.growthRate }} %</span></td>
        </tr>
        <tr>
          <td>5 years Dividend Growth:</td>
          <td><span *ngIf="dividendStatisticsDto">{{ dividendStatisticsDto.growth5Y }} %</span></td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br>
  <app-dividend-accordion *ngIf="showDividendAccordion" [chosenSymbol]="chosenSymbol"></app-dividend-accordion>
</div>
