<!--
  npm install @angular/flex-layout@v5.0.0-beta.14 rxjs-compat
-->
<div class="mat-card-padding">
  <!--
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Login
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>

        <div *ngIf="!(authService.user | async)">
          <input type="text" [(ngModel)]="email" placeholder="email">
          <input type="password" [(ngModel)]="password" placeholder="email">

          <button (click)="signup()" [disabled]="!email || !password">
            Signup
          </button>

          <button (click)="login()" [disabled]="!email || !password">
            Login
          </button>
        </div>

        <button (click)="logout()" *ngIf="authService.user | async">
          Logout
        </button>
    </mat-card-content>
  </mat-card>
-->
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Explanation
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table>
        <tr>
          <th>Abbreviation</th>
          <th>Explanation</th>
        </tr>
        <tr>
          <td>Total-Income</td>
          <td>Market-Value minus Effective-Cost</td>
        </tr>
        <tr>
          <td>Effective-Cost</td>
          <td>Total-Cost minus Dividends</td>
        </tr>
        <tr>
          <td>EPS</td>
          <td>Earnings per Share</td>
        </tr>
        <tr>
          <td>DPS</td>
          <td>Dividend per Share</td>
        </tr>
        <tr>
          <td>DPR</td>
          <td>Dividend Payout ratio = DPS divided by EPS (should be < 70%)</td>
        </tr>
        <tr>
          <td>ROE</td>
          <td>Return on Equity (should be > 10%)</td>
        </tr>
        <tr>
          <td>P/E</td>
          <td>Price to Earnings ratio (Trailing 12 Month or Forward) = Current-Stock-Price divided by the EPS (should be < 20)</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
