<mat-card>
  <mat-card-header>
    <mat-card-title>
      AAPL
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="parent-container" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="100px">
      <table>
        <tr>
          <td>Name:</td>
          <td>Apple Inc.</td>
        </tr>
        <tr>
          <td>Currency:</td>
          <td>USD</td>
        </tr>
        <tr>
          <td>Weight:</td>
          <td>49.41%</td>
        </tr>
      </table>

      <table>
        <tr>
          <td>Market Price:</td>
          <td>219.44 (+4.35) <mat-icon [ngStyle]="{'color':'green'}">trending_up</mat-icon></td>
        </tr>
        <tr>
          <td>Effective Price:</td>
          <td><mat-chip [ngStyle]="{'color':'green'}">222.15</mat-chip></td>
        </tr>
        <tr>
          <td>Total value growth:</td>
          <td>-27.1 (-1.22 %) <mat-icon [ngStyle]="{'color':'red'}">trending_down</mat-icon></td>
        </tr>
      </table>
      <table>
        <tr>
          <td>Number of Shares:</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Market Value:</td>
          <td>2194.4</td>
        </tr>
        <tr>
          <td>Effective Costs:</td>
          <td>221.5</td>
        </tr>
        <tr>
          <td>Total Earnings:</td>
          <td>0.0</td>
        </tr>
        <tr>
          <td>Forward Annual Dividends:</td>
          <td>29.2</td>
        </tr>
      </table>
      <table>
        <tr>
          <td>Trailing Yield on Market:</td>
          <td>1.24 %</td>
        </tr>
        <tr>
          <td>Forward Yield on Cost:</td>
          <td>1.31 %</td>
        </tr>
        <tr>
          <td>Market Diff.:</td>
          <td><mat-chip [ngStyle]="{'color':'red'}">-27.1</mat-chip></td>
        </tr>
        <tr>
          <td>Market Diff. (%):</td>
          <td><mat-chip [ngStyle]="{'color':'red'}">-1.22</mat-chip></td>
        </tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
<br>
