<mat-accordion [displayMode]="displayMode" [multi]="multi" class="mat-expansion-demo-width">

  <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>Positions</mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngIf="portfolioDetails">
      <div *ngFor="let position of portfolioDetails.positions">
        <app-portfolio-positions [position]="position"></app-portfolio-positions>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>Trades</mat-panel-title>
    </mat-expansion-panel-header>
    <app-portfolio-trades></app-portfolio-trades>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>Dividends</mat-panel-title>
    </mat-expansion-panel-header>
    <app-portfolio-dividends></app-portfolio-dividends>
  </mat-expansion-panel>

</mat-accordion>
