<mat-accordion [displayMode]="displayMode" [multi]="multi" class="mat-expansion-demo-width">
  <mat-expansion-panel #panel1  [hideToggle]="hideToggle">
    <mat-expansion-panel-header>Positions</mat-expansion-panel-header>
    <div *ngIf="portfolioDetails">
      <div *ngFor="let position of portfolioDetails.positions">
        <app-position [position]="position"></app-position>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel #panel2 [hideToggle]="hideToggle" [disabled]="disabled">
    <mat-expansion-panel-header>Trades</mat-expansion-panel-header>
    Trades
  </mat-expansion-panel>
  <mat-expansion-panel #panel3 *ngIf="showPanel3" [hideToggle]="hideToggle">
    <mat-expansion-panel-header>Dividends</mat-expansion-panel-header>
    Dividends
  </mat-expansion-panel>
</mat-accordion>
